



<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Tecnólogo en Informática</h1>
                        <h3>Prueba de Template</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://youtube.com" class="btn btn-default btn-lg"><i class="fa fa-youtube-play fa-fw"></i> <span class="network-name">Youtube</span></a>
                            </li>
                            <li>
                                <a href="http://www.ovaciondigital.com.uy" class="btn btn-default btn-lg"><i class="fa fa-futbol-o fa-fw"></i> <span class="network-name">Ovación</span></a>
                            </li>
                            <li>
                                <a href="http://www.fing.edu.uy/tecnoinf/paysandu/index.html" class="btn btn-default btn-lg"><i class="fa fa-university fa-fw"></i> <span class="network-name">Tecnólogo</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    
    <!-- Carousel items -->
    <!--div id="myCarousel" class="carousel slide">
      
      <div class="carousel-inner">
         <div class="item active ad1">
            <div class="carousel-caption">
               <h4>First Thumbnail label</h4>
               <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
         </div>
         <div class="item ad2">
            <div class="carousel-caption">
                <h4>Second Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
             </div>
         </div>
         <div class="item ad3">
            <div class="carousel-caption">
               <h4>Third Thumbnail label</h4>
               <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
        </div>
      </div>
      <!-- Carousel nav --
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div-->
    
    <!-- /.intro-header -->
    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ambiente:<br>Salones y Laboratorios</h2>
                    <p class="lead">Excelente ambiente de trabajo y estudio en nuestros laboratios y salones y yo que sé, si queres saber veni a visitarnos que algún TIP siempre habrá.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/lab2.jpg" alt="">
                </div> 
            </div>

        </div>
        <!-- /.container src="http://pngimg.com/upload/tablet_PNG8565.png" -->

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Requisitos de Ingreso</h2>
                    <p class="lead"> 
                        Pueden ingresar a la carrera tanto egresados del “Bachillerato Tecnológico de Procesamiento y Mantenimiento Informático”, de la “Enseñanza Media Tecnológica en Informática” y de los “Bachilleratos de Educación Secundaria” que habiliten el ingreso a la Facultad de Ingeniería.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/data2.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Perfil del egresado: </h2>
                    <p class="lead">El Tecnólogo en Informática será capaz de desarrollar sistemas de pequeño y mediano porte y
                                    podrá integrarse a grupos de desarrollo de proyectos de porte superior. 
                                    Contará con la habilidad de construir y evaluar soluciones informáticas abarcando las tareas de 
                                    construcción, pruebas y documentación, integrando eventualmente distintas tecnologías. 
                                    Poseerá habilidades de comunicación, tanto para presentar sus soluciones dentro del área, como
                                    para interactuar con profesionales de otras áreas y público en general. Esto incluye la capacidad
                                    de trabajar en equipo en todos los aspectos de su actividad.
                                    <br>
                                    Al egresar de la carrera el Tecnólogo en Informática habrá adquirido una formación en las áreas fundamentales de la computación
                                    con una profundización en alguna subárea de la misma. Dicha formación incluirá aspectos teóricos fundamentales y una fuerte componente práctica, incluyendo el manejo de tecnologías actualizadas. También incluirá la experiencia de desarrollo de una solución informática a un problema real, preferentemente realizada en el contexto de una pasantía en una empresa (Proyecto/Pasantía).
                                    <br>
                                    <br>
                                    Lugar: Puerto digital Paysandú Innova – Leandro Gómez esquina 33 Orientales. 
                                    <br>
                                    Horarios de los cursos: 18 – 0 hs
                                    
                                    <!--a target="_blank" href="http://www.antel.com.uy">Antel </a> o quizas no por las <a target="_blank" href="http://www.google.com">Peliculas</a-->
                                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/pasillo.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Vení a estudiar al Tecnólogo en Paysandú</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <!--li>
                            <a href="https://youtube.com" class="btn btn-default btn-lg"><i class="fa fa-youtube-play fa-fw"></i> <span class="network-name">Youtube</span></a>
                        </li>
                        <li>
                            <a href="http://www.ovaciondigital.com.uy" class="btn btn-default btn-lg"><i class="fa fa-futbol-o fa-fw"></i> <span class="network-name">Ovación</span></a>
                        </li>
                        <li>
                            <a href="http://www.fing.edu.uy/tecnoinf/paysandu/index.html" class="btn btn-default btn-lg"><i class="fa fa-university fa-fw"></i> <span class="network-name">Tecnólogo</span></a>
                        </li-->
                        <li>
                                <a href="/contactenos" class="btn btn-default btn-lg"><i class="fa fa-university fa-fw"></i> <span class="network-name">Formu</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

   </div>
